doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav(class='navbar navbar-default', id='nav', style='margin:0;border:0;border-radius:0;background-color:#888')
      ul(class='nav navbar-nav navbar-left')
        li: a(href='/', style='color:#FFF;font-weight:bold;') Console Cowboy's Particle Simulator
        li: a(id='mouselocation', style='color:#FFF;')
        li: a(id='hint', style='color:#FFF;font-weight:bold;')
      ul(class='nav navbar-nav navbar-right', id='right-navbar-list')
        if (!user)
          li: a(href='/login', style='margin-right:10px;color:#FFF;font-weight:bold;') Login
        if (user)
          li: a(style='margin-right:10px;color:#FFF;font-weight:bold;') Welcome, #{user.username}
          li: a(href='/snapshots' style='margin-right:10px;color:#FFF;font-weight:bold;') View Snapshots
          li: a(href='#', onclick='document.takeSnapshot();return false;', id='snapshot', style='margin-right:10px;color:#FFF;font-weight:bold;')
          li: a(href='/logout', style='margin-right:10px;color:#FFF;font-weight:bold;') Logout

    script(src='http://code.jquery.com/jquery.js')
    block content

  script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')