extends layout

block content
  .container
    h1 Register
    // Most of the form was from http://mherman.org/blog/2015/01/31/local-authentication-with-passport-and-express-4/#.VqcELiorKM_
    // See README
    br
    form(role='form', action="/register",method="post", style='max-width: 300px;')
      .form-group
          input.form-control(type='text', name="username", placeholder='Enter Username')
      .form-group
        input.form-control(type='password', name="password", placeholder='Password')
      button.btn.btn-default(type='submit') Submit
      &nbsp;
      a(href='/')
        button.btn.btn-primary(type="button") Cancel
    br
    p Already signed up? #[a(href='/login') Click here to login]