extends layout
block content
  if (snapshotparticles)
    script.
      document.snapshotparticles = !{JSON.stringify(snapshotparticles)}
  if (!snapshotparticles)
    script.
      document.location.href='/'
  script(src='pixi.js-3.0.9/bin/pixi.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/snapshot.js')